table.calendar{
    box-shadow: 2px 2px 4px #000000;
}

/* Se activa hove tambien con las casillas vacias */
td:hover{
    background-color: rgb(240, 215, 250);
    border-radius: 90%;
    cursor: pointer;
}


.calendar caption{
    margin-bottom: 6%; 
    padding-bottom: 6%;
}

table.calendar{
    position: relative;
}

.calendar .controls{
    position: absolute;
    right: 5px;
}

.controls button{
    background-color: #a34caf !important; 
    color: white;
    text-align: center;
    border-radius: 90%;
    font-weight: bolder;
}

.calendar caption button, .calendar .selectYear button, button.day {
    border: none;
    padding: 5px;
    text-decoration: none;
    display: inline-block; 
    margin: 4px 2px;
    cursor: pointer;
    font-size: small;
    background-color: transparent;
  }


.yearMonth{
    vertical-align: middle;
    position: absolute;
    left: 5px;
    font-weight: bolder;
}

.yearMonth:hover{
    cursor: pointer;
}

.calendar caption h5{
    display: inline;
    padding: 5px;
}


.calendar th, .calendar td {
    padding: 7px;
}