<table class="calendar" style="text-align:center;">
  <caption>
    <button (click)="changeYear()" class="yearMonth">{{ current | date:'MMM, y' }}</button>
      <div class="controls">
        <button (click)="prevMonth()"> ❮ </button>
        <button (click)="nextMonth()"> ❯ </button>
      </div>
  </caption> 
  <caption style="padding-bottom: 0 !important;">{{ current | date:'MMMM, d'}}</caption>
  <tbody class="selectYear" *ngIf="!normalView">
    <tr *ngFor="let i of [0,1,2,3]">
      <td *ngFor="let j of [0,1,2,3]">
        <button (click)="selectYear(current.getFullYear() + 4*i + j)">{{current.getFullYear() + 4*i + j}}</button>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="normalView">
    <tr>
      <th>S</th>
      <th>M</th>
      <th>T</th>
      <th>W</th>
      <th>T</th>
      <th>F</th>
      <th>S</th>
    </tr>
    <tr *ngFor="let i of [0,1,2,3,4]">
      <td *ngFor="let j of [1,2,3,4,5,6,7]">
        <button (click)="selectDay(i*7 + j)" class="day" *ngIf="(i*7 + j) <= daysInMonth()">{{i*7 + j}}</button>
      </td>
    </tr>
  </tbody>
</table>